html,body{height: 100%;}
select{width: 100%; margin-bottom: 1em;}
#entry{margin-bottom: 5em;}
#spriteImage {display: inline-block;}
#loading-indicator {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto
}
[v-cloak] {
  display: none;
}
