html,body{height: 100%;}
select{width: 100%; margin-bottom: 1em;}
#pokedexEntries, #entry{display: none;}
#loading-indicator {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto
}