<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pokedex Project</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Pokedex</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <select name="pokedexSelect" id="pokedexSelect">
                        <option value="0">Select</option>
                        <option value="1">National</option>
                        <option value="2">Kanto</option>
                        <option value="3">Original Johto</option>
                        <option value="4">Hoenn</option>
                        <option value="5">Original Sinnoh</option>
                        <option value="6">Extended Sinnoh</option>
                        <option value="7">Updated Johto</option>
                        <option value="8">Original Unova</option>
                        <option value="9">Updated Unova</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" id="pokedex">
                    
                        <select name="pokedexEntries" id="pokedexEntries" v-model="pokemon_selected" v-on:change="getPokemon()">
                            <option v-for="option in pokemon_entries" v-bind:value="option.pokemon_species.name">
                                {{ option.pokemon_species.name | capitalize}}
                            </option>
                        </select>
            
                    <div id="entry">
                        <img src="{{pokemon.sprites.front_default}}" />
                        <h1>{{pokemon.name | capitalize}}</h1>
                        <p>Pokedex entry: {{pokemon.id}}</p>
                        <p>Weight: {{pokemon.weight}}</p>
                    </div>
                </div>
          </div>
        </div>
    <img src="images/ajax-loader.gif" id="loading-indicator" style="display: none;"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/vue/1.0.21/vue.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>