@import "bootstrap";
html,body{height: 100%;}
select{width: 100%; margin-bottom: 1em;}
#entry{margin-bottom: 5em;}
#sprites {text-align: center;
.spritesWrap {
    display: inline-block; margin: 0 auto;
}
}
.hero-wrapper{
  background-color: #ee1515;
  .hero{
    height: 25vh;
    display: table;
    text-align: center;
    color: #222224;
    h1{
      display: table-cell;
      vertical-align: middle;
    }
  }
}
nav{
  margin: 30px 0;
  p{
    text-align: center;
  }
}

#spriteImage {display: inline-block; text-align: center;}
#loading-indicator {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto
}
[v-cloak] {
  display: none;
}
